{% extends "base.html" %}

{% block title %} - Frequency Domain{% endblock %}

{% block nav_active_frequency %}active{% endblock %}

{% block sidebar %}
<form id="uploadForm" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="fileInput" class="form-label">Select Files</label>
        <input type="file" name="files" id="fileInput" class="form-control" multiple>
    </div>
    <button type="submit" class="btn btn-primary w-100">Upload</button>
</form>
<button id="cleanButton" class="btn btn-secondary w-100 mt-3">Clean</button>
<div id="parametersSection" class="mt-3" style="display: none;">
    <h3>Pliczki:</h3>
    <!-- parameters will be added here -->
</div>
<div id="errorMessage" class="mt-3 text-danger"></div>
{% endblock %}

{% block main_content %}
<h1 class="text-center">Frequency Domain</h1>
<img id="plotImage" src="/static/placeholder.png" alt="Your Plot" class="plot-img">
{% endblock %}

{% block extra_scripts %}
<script>
    let uploadedFiles = {};  // stores parameters for each uploaded file
    let selectedParameters = [];  // global variable to store selected parameters

    $(document).ready(function () {
        // fetch the list of uploaded files from the server when the page loads
        $.ajax({
            url: "/get-uploaded-files",
            type: "GET",
            success: function (response) {
                uploadedFiles = response.uploaded_files;
                displayAllParameters();
                updatePlot(); // initial plot update
            },
            error: function (xhr) {
                const error = xhr.responseJSON.error || "an error occurred";
                $("#errorMessage").text(error);
            }
        });

        $("#uploadForm").submit(function (e) {
            e.preventDefault();

            const formData = new FormData();
            const files = $('#fileInput')[0].files;

            if (files.length === 0) {
                $("#errorMessage").text("Please select at least one file to upload.");
                return;
            }

            // append each file to the formData object
            for (let i = 0; i < files.length; i++) {
                formData.append('files', files[i]);
            }

            $.ajax({
                url: "/upload",
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    $("#errorMessage").text("");
                    response.uploads.forEach(function (fileInfo) {
                        const filename = fileInfo.filename;
                        const parameters = fileInfo.parameters;
                        uploadedFiles[filename] = { parameters: parameters };
                        displayParameters(filename, parameters);
                    });
                    updatePlot();
                },
                error: function (xhr) {
                    const error = xhr.responseJSON.error || "an error occurred";
                    $("#errorMessage").text(error);
                }
            });
        });

        function displayAllParameters() {
            $("#parametersSection").show();

            // get selections from localStorage
            let storedSelections = JSON.parse(localStorage.getItem('selectedParameters')) || [];

            for (const filename in uploadedFiles) {
                const parameters = uploadedFiles[filename].parameters;
                displayParameters(filename, parameters, storedSelections);
            }
        }

        function displayParameters(filename, parameters, storedSelections) {
            const parametersSection = $("#parametersSection");

            // create a new div for this file's parameters
            const fileDivId = `file-${filename.replace(/\W/g, '')}`;
            if (!$(`#${fileDivId}`).length) {
                const fileDiv = `
                    <div id="${fileDivId}" class="file-parameters">
                        <h4>${filename}</h4>
                        <form class="parametersForm d-flex flex-wrap">
                            <!-- checkboxes will be added here -->
                        </form>
                    </div>
                `;
                parametersSection.append(fileDiv);
            }

            const form = $(`#${fileDivId} .parametersForm`);

            parameters.forEach(param => {
                const checkboxId = `${filename}-${param}`;
                // avoid adding duplicate checkboxes
                if (!$(`#${checkboxId}`).length) {
                    // check if this parameter is selected in localStorage
                    const isChecked = storedSelections.some(selection => selection.filename === filename && selection.parameter === param) ? 'checked' : '';
                    const checkbox = `
                        <div class="form-check form-check-inline">
                            <input class="form-check-input parameter-checkbox" type="checkbox" value="${param}" id="${checkboxId}" data-filename="${filename}" ${isChecked}>
                            <label class="form-check-label" for="${checkboxId}">
                                ${param.toUpperCase()}
                            </label>
                        </div>
                    `;
                    form.append(checkbox);
                }
            });

            // add listener to checkboxes
            $(".parameter-checkbox").off('change').on('change', function () {
                saveSelections();
                updatePlot();
            });
        }

        function saveSelections() {
            selectedParameters = [];
            $(".parameter-checkbox:checked").each(function () {
                const filename = $(this).data('filename');
                const param = $(this).val();
                selectedParameters.push({
                    filename: filename,
                    parameter: param
                });
            });
            // save selections to localStorage
            localStorage.setItem('selectedParameters', JSON.stringify(selectedParameters));
        }

        function updatePlot() {
            selectedParameters = [];

            $(".parameter-checkbox:checked").each(function () {
                const filename = $(this).data('filename');
                const param = $(this).val();
                selectedParameters.push({
                    filename: filename,
                    parameter: param
                });
            });

            if (selectedParameters.length === 0) {
                $("#errorMessage").text("Please select at least one parameter to plot.");
                $("#plotImage").attr("src", "/static/placeholder.png");
                return;
            } else {
                $("#errorMessage").text("");
            }

            const data = {
                selections: selectedParameters
            };

            $.ajax({
                url: "/update-plot",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    $("#plotImage").attr("src", response.plot_url + "?t=" + new Date().getTime());
                },
                error: function (xhr) {
                    const error = xhr.responseJSON.error || "an error occurred";
                    $("#errorMessage").text(error);
                }
            });

            // handle "Clean" button
            $("#cleanButton").click(function () {
                $(".parameter-checkbox").prop('checked', false);
                saveSelections();
                updatePlot();
            });
        }
    });
</script>
{% endblock %}
